apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: react-app

resources:
- namespace.yaml
- configmap.yaml
- deployment.yaml
- service.yaml
- ingress.yaml
- hpa.yaml

commonLabels:
  app: react-app
  environment: production
